@import "./variable.scss";

/**
左移，缩小消失
 */
.#{$prefix}-slide-in-left-enter-active,
.#{$prefix}-slide-in-left-leave-active {
  transition: all 0.3s;
}

.#{$prefix}-slide-in-left-enter-from,
.#{$prefix}-slide-in-left-leave-to {
  transform: translateX(-100%) scale(0);
}

/**
3d 翻转
 */
.#{$prefix}-rotate3d-left-enter-active,
.#{$prefix}-rotate3d-left-leave-active {
  transition: all 0.5s;
}

.#{$prefix}-rotate3d-left-enter-from,
.#{$prefix}-rotate3d-left-leave-to {
  transform: rotate3d(0, -1, 0, -90deg);
  opacity: 0;
}

/**
左移消失
 */
.#{$prefix}-left-to-right-enter-active,
.#{$prefix}-left-to-right-leave-active {
  transition: all 0.3s;
}

.#{$prefix}-left-to-right-enter-from,
.#{$prefix}-left-to-right-leave-to {
  transform: translateX(-40%);
}

/**
右移消失
 */
.#{$prefix}-right-to-left-enter-active,
.#{$prefix}-right-to-left-leave-active {
  transition: all 0.3s;
}

.#{$prefix}-right-to-left-enter-from,
.#{$prefix}-right-to-left-leave-to {
  transform: translateX(100%);
}

/**
上移消失
 */
.#{$prefix}-top-to-bottom-enter-active,
.#{$prefix}-top-to-bottom-leave-active {
  transition: all 0.3s;
}

.#{$prefix}-top-to-bottom-enter-from,
.#{$prefix}-top-to-bottom-leave-to {
  transform: translateY(-100%);
}

/**
下移消失
 */
.#{$prefix}-bottom-to-top-enter-active,
.#{$prefix}-bottom-to-top-leave-active {
  transition: all 0.3s;
}

.#{$prefix}-bottom-to-top-enter-from,
.#{$prefix}-bottom-to-top-leave-to {
  transform: translateY(100%);
}

// 高度自零变化
.#{$prefix}-height-zero-enter-active,
.#{$prefix}-height-zero-leave-active {
  transition: opacity 0.3s;
}

.#{$prefix}-height-zero-enter-from,
.#{$prefix}-height-zero-leave-to {
  opacity: 0;
}

/** 宽度自零变化 */
.#{$prefix}-width-zero-enter-active,
.#{$prefix}-width-zero-leave-active {
  transition: width 0.3s;
}

.#{$prefix}-width-zero-enter-from,
.#{$prefix}-width-zero-leave-to {
  width: 0px;
}
