@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}